*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html{
    height: 100%;
    width: 100%;
    font-family: 'Sono',sans-serif;
    /* background-color: burlywood; */
    background: linear-gradient(to bottom,rgb(73, 70, 70),rgb(222, 175, 175));
    
}
.container{
    height: 550px;
    width: 450px;
    background-color: aliceblue;
    border-radius: 15px;
    box-shadow: 5px 5px  10px black;
    border: BLACK 5PX SOLID;

}
.flex{
    display: flex;
    flex-direction: row;
}

.jc_c{
    display: flex;
    justify-content: center;
}
.flex_col{
    display: flex;
    flex-direction: column;
}
.p_m{
    padding: 1%;
    margin:2% 20%;
}
.heading{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(222, 175, 175) ;
    border-radius: 50px;
    text-decoration:underline;
    text-shadow: 2px 2px 5px grey;
    font-size: 20px;
}
.input_user{
    background-color: grey;
    padding:30px;
    margin: 2%;
    border: black solid 2px;
    width: 370px;
    height: 50px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px;
    
}
.button{
    background-color: rgba(200, 32, 32, 0.661);
    width: 90px;
    font-weight: bold;
    padding: 20px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    font-size: larger;
    box-shadow: 5px 5px  10px rgb(55, 39, 39);
}
.equal{
    width: 190px ;
}
.button:hover{
    background-color: rgba(224, 60, 60, 0.696);
}